header {
 background-color: #cccccc;
 background-image: url('../images/flywheel.jpg');
 background-size: cover;
 background-repeat: no repeat;
}

h1 {
 text-align: center;
 color: rgba(192,192,192);
 text-transform: uppercase;
 font-size: 30pt;
}

nav {
 text-align: center; 
}

nav a {
  display: inline-block;
  background-color: #D3D3D3;
  color: rgba(25,25,112);
  font-size: 14pt; 
  opacity: 0.5;
  margin: 30px;
  text-decoration: none;
  padding: 15px 45px;
  -webkit-text-stroke: .6px black;
}

a {
 border: 2px solid none;
 border-radius: 8px;
 margin: 5px;
 padding: 10px;
 cursor: pointer;
}

nav a:hover {
  background-color: #555;
  color: white;
}

nav a:visited {
  color: #FA8072;
}

.active {
 color: #DC143C; 
 background-color: #FFDAB9;
}

img {
 width: 230px;
 height: 160px;
 display: block;
 border: 2px solid black;
}

h2 {
 text-transform: uppercase;
 text-align: left;
 color: rgba(47,79,79);
}

.left {
 background-color:#FFDAB9; 
 box-sizing: border-box;
 float: left;
 position: relative;
 padding: 25px;
}

.right {
 position: absolute;
 display: inline-block;
 margin: 0 auto;
 padding: 5px;
}

body {
 padding: 5px;
 margin: 15px;
 font-family: 'Brush Script MT', cursive;
}

table th{
 font-size: 20px;
 background-color: red;
 background-image: linear-gradient(#FFA07A, #778899);
}

table {
 font-family: 'Brush Script MT', cursive, Arial, Helvetica, sans-serif;
 font-size: 15px;
 line-height: 1.6;
 font-weight: 900;
 width:75%;
 margin-left: auto; 
 margin-right: auto;
 transition-property: width;
 transition-duration: 5s;
}

table:hover {
 width: 95%;
}

tr {
 opacity: .8;
}

tr:hover {
 opacity: 1;
}

td {
 padding: 2px;
 color: #5F9EA0;
 background-color: #DCDCDC;
 border-radius: 2px;
 text-shadow: 1px 1px #000000;
}

th{
 text-align: center;
 background: #8FBC8F;
 border: 2px solid DarkCyan;
 border-bottom: 4px solid DarkCyan;
 -webkit-border-radius: 0 0 10px 10px;
 border-radius: 10px 10px 0 0;
}
